.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchContainer {
  padding: 0 16px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .searchContainer {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .searchContainer {
    padding: 0 100px;
  }
}
