.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 24px 16px;
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .header {
    padding: 24px 40px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 24px 100px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cartLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
